+++
title = "AIoT Lab"
linkTitle = "Home"

+++

{{< blocks/cover title="Welcome to AIoT Lab!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="{{< relref "/members" >}}">
		Join Us! <i class="fas fa-handshake ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/research" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5 mb-2"><b>Start a tour of AIoT Lab!</b></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
We are a research group based in the Department of Information Engineering, Chinese University of Hong Kong. 
We focus on the research, design, and development of ...... systems found in the Internet of Things (IoT) and its embedded-AI generation (AIoT). 
Our research has two main sub-directions of Smart Health and Smart City. 
In the first sub-direction, ...... 
In the second sub-direction, ...... 
Due to the immediate application potential, our research has been funded (or co-funded) externally by government authorities and companies in the ICT, energy, and manufacturing sectors.
{{% /blocks/lead %}}


{{< blocks/section color="info">}}
{{% blocks/feature icon="fa-duotone fa-layer-group" title="**Research**" url="/research"%}}
We are doing research that is relevant to the future of life.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-book" title="**Publications**" url="/pub" %}}
Our research papers has been accepted by peer-reviewed conferences and journals.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-people-group" title="**Members**" url="/members" %}}
We are working with talented researchers.
{{% /blocks/feature %}}



{{< /blocks/section >}}


{{% blocks/section color="warning"%}}

# **News**

- We have three papers accepted by Mobisys'23. Congratulations! ([Details](/blog/2023/02/27/mobisys23-paper-acceptance/))
- AIoT Lab members traveled to Sydney to attend MobiCom'22 and gave talks on the main conference.([Details](/blog/2022/10/22/mobicom22-trip/))
- We have three papers accepted by Mobisys'23. Congratulations! ([Details](/blog/2023/02/27/mobisys23-paper-acceptance/))
- <details>
	<summary>More</summary>
		<ul>
			<li>We have three papers accepted by Mobisys'23. Congratulations! (<a href="/blog/2023/02/27/mobisys23-paper-acceptance/">Details</a>)</li>
			<li>AIoT Lab members traveled to Sydney to attend MobiCom'22 and gave talks on the main conference. (<a href="/blog/2022/10/22/mobicom22-trip/">Details</a>)</li>
		</ul>
</details>
	


{{% /blocks/section %}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
